body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
  position: relative;
  z-index: 1;
}
/* image */
.title-image {
  width: 60%;
  transform: rotate(35deg);
  position:absolute;
  z-index:-2;
  right:30%;
}
.container-fluid {
  padding: 3% 15% 7%;
  /*Top&bottom: 3%; Left& Right: 15th*/
}

/* Nav Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

/* Donload Botton */
.download-botton {
  margin: 5% 3% 5% 0;
}



/************fonts**********************/
.bold-h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight:900;
}
p{
  color:#AFAFAF;
}
/* Features Sections */
#features{
  padding: 7% 15% ;
  background-color: white;
  position: relative;
  z-index: 1;
}
.product-features {
  text-align: center;
  padding:4.5%;
}
.feature-logos{
  color:#ef8172;
  margin-bottom: 1rem;
}
.feature-logos:hover{
  background:linear-gradient(to bottom, #AFAFAF 5%, #bddbfa 100%);
  color:#ff4c68
}
/* testtinomial */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color:#fff;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin 20px 20px 50px;
}
/* Pricing Section */
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-column{
    padding:3% 2%;
}
/* CTA */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color:#fff;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
  background-color: #fff;
  padding: 7% 15%;
}
.bottom-icon{
  margin:  20px 10px;

}

@media screen and (max-width:1028px){
  .title-image{
    position:static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
