/* font-face */
body{
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #AFAFAF;
}

/* DIY Heading */
.bold-h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.container-fluid {
  padding: 7% 15%;
  /*Top&bottom: 3%; Left& Right: 15th*/
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: white;
}
/* Title */

#title .container-fluid{
  padding:3% 15% 7%;
  text-align: left;
  position: relative;
  z-index: 1;
}
/* image */
.title-image {
  width: 60%;
  transform: rotate(35deg);
  position: absolute;
  z-index: -2;
  right: 30%;
}


/* Nav Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

/* Donload Botton */
.download-botton {
  margin: 5% 3% 5% 0;
}

/* Features Sections */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.product-features {
  padding: 4.5%;
}

.feature-logos {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-logos:hover {
  background: linear-gradient(to bottom, #AFAFAF 5%, #bddbfa 100%);
  color: #ff4c68
}

/* testtinomial */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}


.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA */


/* Footer */

.bottom-icon {
  margin: 20px 10px;
}

@media screen and (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
